<nav class="navbar navbar-default navbar-expand-lg navbar-light">
	<div class="navbar-header d-flex col">
		<a class="navbar-brand" href="#">Cloud<b>Kart</b></a>  		
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
			<span class="navbar-toggler-icon"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<ul class="nav navbar-nav">
      <li class="nav-item"><a [routerLink]="['/home']" class="nav-link">Home</a></li>		
      <li class="nav-item"><a [routerLink]="['/audio']" class="nav-link">voiceSearch!!!</a></li>	
		</ul>
		<form class="navbar-form form-inline navbar-right ml-auto">
			<div class="input-group search-box">
				<input type="text" class="form-control"[(ngModel)]="search" name="search" placeholder="Search">
				<span class="input-group-btn">
					<a [routerLink]="['/search',search]" class="btn btn-primary"><span>Search</span></a>
				</span>
			</div>
		</form>		
	</div>
</nav>
        <div class="row"  myMatchHeight="panel"style="text-align:center">


        
                <div *ngFor="let x of allDetails" class="col-md-3" [routerLink]="['/product',x.className]">
            
                  <div class="panel panel-danger">
                    
                    <div class="panel-body panel-height zoom" role= "button" style="margin: 25px;" >
                     
                        
                        <img src="assets/{{x.className}}.png" alt="Preview Not Available" height ="75" width="75"  >
                        
            
                    </div>
                    <div class="panel-footer">
                        <br/><br/>
                        <h6>{{x.className}}</h6>
                    </div>
                    
                  </div>
                  </div>
                  </div>